{{!-- <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ad_id</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
      <th scope="col">Category Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td>{{this.ad_id}}</td>
      <td>{{this.title}}</td>
      <td>{{this.body}}</td>
      <td>{{this.category_name}}</td>
    </tr>
    {{/each }}
  </tbody>
</table>
</div>
<div class="d-flex justify-content-center align-items-center">
    <button type="button" class="btn btn-primary" onclick="location.href='/products'">Back</button>
</div> --}}